<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>this is email to set your password</title>
</head>
<body>
  <header>
    <h1>this is email to set your password</h1>
  </header>
  <section>
  <p>Hello <%= @user.full_name%>,</p>
  <p>use this otp to reset your password: <%=@otp%>,</p>
  <p>if you are not request to reset please conifrm</p>
  <p>If you have any questions or need assistance, feel free to contact us.</p>
  </section>
  <footer>
    <p>Best regards,<br>My Website Team</p>
  </footer>
</body>
</html>